In [1]:
# Dependencies
import pandas as pd
from pathlib import Path
from collections import Counter
import numpy as np

In [3]:
# Import U.S. Census API Key
from config import api_key
if api_key == "YOUR KEY HERE":
    print("Please edit your config.py file.")

In [5]:
# Save path to the full data as a variable
full_data_file = Path("Resources/full_worker_set.csv")

dtype_defined = {
    "State": "object",
    "Work From Home 1": "object",
    "Work From Home 2": "object",
    "Work From Home 3": "object",
    "Work From Home 4": "object",
    "Work From Home 5": "object",
    "Work From Home 6": "object",
    "Home Days 1": "Int64",
    "Home Days 2": "Int64",
    "Home Days 3": "Int64",
    "Home Days 4": "Int64",
    "Home Days 5": "Int64",
    "Home Days 6": "Int64",  
    "Income 1.1": "float64",
    "Income 1.2": "float64",
    "Income 1.3": "float64",
    "Income 2.1": "float64",
    "Income 2.2": "float64",
    "Income 2.3": "float64",
    "Income 3.1": "float64",
    "Income 3.2": "float64",
    "Income 3.3": "float64",
    "Income 4.1": "float64",
    "Income 4.2": "float64",
    "Income 5.1": "float64",
    "Income 6.1": "float64",
    "Hourly 1.1": "float64",
    "Hourly 1.2": "float64",
    "Hourly 1.3": "float64",
    "Hourly 2.1": "float64",
    "Hourly 2.2": "float64",
    "Hourly 2.3": "float64",
    "Hourly 3.1": "float64",
    "Hourly 3.2": "float64",
    "Hourly 3.3": "float64",
    "Hourly 4.1": "float64",
    "Hourly 4.2": "float64",
    "Hourly 5.1": "float64",
    "Hourly 5.2": "float64",
    "Weekly 1.1": "float64",
    "Weekly 1.2": "float64",
    "Weekly 1.3": "float64",
    "Weekly 2.1": "float64",
    "Weekly 2.2": "float64",
    "Weekly 2.3": "float64",
    "Weekly 3.1": "float64",
    "Weekly 3.2": "float64",
    "Weekly 4.1": "float64",
    "Weekly 5.2": "float64",
    "Biweekly 1.1": "float64",
    "Biweekly 1.2": "float64",
    "Biweekly 1.3": "float64",
    "Biweekly 2.1": "float64",
    "Biweekly 2.2": "float64",
    "Biweekly 2.3": "float64",
    "Biweekly 3.1": "float64",
    "Biweekly 3.2": "float64",
    "Biweekly 4.1": "float64",
    "Biweekly 4.2": "float64",
    "Biweekly 4.3": "float64",
    "Monthly 1.1": "float64",
    "Monthly 1.2": "float64",
    "Monthly 1.3": "float64",
    "Monthly 2.1": "float64",
    "Monthly 2.2": "float64",
    "Monthly 3.1": "float64",
    "Monthly 3.2": "float64",
    "Bimonthly 1.1": "float64",
    "Bimonthly 1.2": "float64",
    "Bimonthly 1.3": "float64",
    "Bimonthly 2.1": "float64",
    "Bimonthly 2.2": "float64",
    "Bimonthly 2.3": "float64",
    "Bimonthly 3.1": "float64",
    "Bimonthly 3.2": "float64",
    "Bimonthly 4.1": "float64",
    "Annual Income Median": "float64",
    "Annual Income StdDev": "float64",
    "Hourly Wage Mean": "float64",
    "Hourly Wage StdDev": "float64",
    "Weekly Wage Median": "float64",
    "Weekly Wage StdDev": "float64",
    "Biweekly Wage Median": "float64",
    "Biweekly Wage StdDev": "float64",
    "Monthly Wage Median": "float64",
    "Monthly Wage StdDev": "float64",
    "Bimonthly Wage Median": "float64",
    "Bimonthly Wage StdDev": "float64",
    "Worker Class 1": "object",
    "Worker Class 2": "object",
    "Worker Class 3": "object",
    "Worker Class 4": "object",
    "Worker Class 5": "object",
    "Worker Class 6": "object",
    "Industry Type 1": "object",
    "Industry Type 2": "object",
    "Industry Type 3": "object",
    "Industry Type 4": "object",
    "Industry Type 5": "object",
    "Industry Type 6": "object",
    "Occupation Type 1": "object",
    "Occupation Type 2": "object",
    "Occupation Type 3": "object",
    "Occupation Type 4": "object",
    "Occupation Type 5": "object",
    "Occupation Type 6": "object",
    "Work Hours 1": "float64",
    "Work Hours 2": "float64",
    "Work Hours 3": "float64",
    "Work Hours 4": "float64",
    "Work Hours 5": "float64",
    "Work Hours 6": "float64"
}
# Convert the full data back into a Pandas DataFrame
full_df = pd.read_csv(full_data_file, dtype=dtype_defined)
full_df.head()

,State,Work From Home 1,Work From Home 2,Work From Home 3,Work From Home 4,Work From Home 5,Work From Home 6,Home Days 1,Home Days 2,Home Days 3,...,Occupation Type 3,Occupation Type 4,Occupation Type 5,Occupation Type 6,Work Hours 1,Work Hours 2,Work Hours 3,Work Hours 4,Work Hours 5,Work Hours 6
0,Kansas,False,NaN,NaN,NaN,NaN,NaN,0,<NA>,<NA>,...,NaN,NaN,NaN,NaN,35.0,NaN,NaN,NaN,NaN,NaN
1,Kansas,False,NaN,NaN,NaN,NaN,NaN,0,<NA>,<NA>,...,NaN,NaN,NaN,NaN,35.0,NaN,NaN,NaN,NaN,NaN
2,Kansas,False,NaN,NaN,NaN,NaN,NaN,0,<NA>,<NA>,...,NaN,NaN,NaN,NaN,35.0,NaN,NaN,NaN,NaN,NaN
3,Kansas,False,NaN,NaN,NaN,NaN,NaN,0,<NA>,<NA>,...,NaN,NaN,NaN,NaN,35.0,NaN,NaN,NaN,NaN,NaN
4,Kansas,False,NaN,NaN,NaN,NaN,NaN,0,<NA>,<NA>,...,NaN,NaN,NaN,NaN,35.0,NaN,NaN,NaN,NaN,NaN

In [7]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487736 entries, 0 to 487735
Columns: 112 entries, State to Work Hours 6
dtypes: Int64(6), float64(81), object(25)
memory usage: 419.6+ MB

In [ ]:
# MORE WORK TO BE DONE FROM HERE

In [47]:
# Copy to the full DataFrame 
home_only_df = full_df.copy()

In [49]:
# Only pull rows where respondants report working from home
home_only_df = home_only_df[(home_only_df[['Work From Home 1', 'Work From Home 2', 'Work From Home 3', 'Work From Home 4', 'Work From Home 5', 'Work From Home 6']] == ["True", "True", "True", "True", "True", "True"]).any(axis=1)]
print(f"Number of returned rows: {len(home_only_df)}")
home_only_df.head()

Number of returned rows: 38179

,State,Work From Home 1,Work From Home 2,Work From Home 3,Work From Home 4,Work From Home 5,Work From Home 6,Home Days 1,Home Days 2,Home Days 3,...,Occupation Type 3,Occupation Type 4,Occupation Type 5,Occupation Type 6,Work Hours 1,Work Hours 2,Work Hours 3,Work Hours 4,Work Hours 5,Work Hours 6
24,Kansas,True,NaN,NaN,NaN,NaN,NaN,5,<NA>,<NA>,...,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN
25,Kansas,True,NaN,NaN,NaN,NaN,NaN,5,<NA>,<NA>,...,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN
26,Kansas,True,NaN,NaN,NaN,NaN,NaN,5,<NA>,<NA>,...,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN
27,Kansas,True,NaN,NaN,NaN,NaN,NaN,5,<NA>,<NA>,...,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN
28,Kansas,True,NaN,NaN,NaN,NaN,NaN,5,<NA>,<NA>,...,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN

In [13]:
home_only_df["Income 3.2"].value_counts()

Income 3.2
140000.0    9
89000.0     8
94500.0     2
Name: count, dtype: int64

In [81]:
# Maybe not necessary anymore
home_only_df = home_only_df["Work From Home 1"].fillna(pd.NA)
home_only_df.head()

,State,Work From Home 1,Work From Home 2,Work From Home 3,Work From Home 4,Work From Home 5,Work From Home 6,Home Days 1,Home Days 2,Home Days 3,...,Occupation Type 3,Occupation Type 4,Occupation Type 5,Occupation Type 6,Work Hours 1,Work Hours 2,Work Hours 3,Work Hours 4,Work Hours 5,Work Hours 6
24,Kansas,True,NaN,NaN,NaN,NaN,NaN,5,<NA>,<NA>,...,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN
25,Kansas,True,NaN,NaN,NaN,NaN,NaN,5,<NA>,<NA>,...,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN
26,Kansas,True,NaN,NaN,NaN,NaN,NaN,5,<NA>,<NA>,...,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN
27,Kansas,True,NaN,NaN,NaN,NaN,NaN,5,<NA>,<NA>,...,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN
28,Kansas,True,NaN,NaN,NaN,NaN,NaN,5,<NA>,<NA>,...,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN

In [97]:
# Clearing out non-remote jobs from the those with multiple jobs
def clear_non_remote_jobs(row):
    row=row.copy()
    for i in ["1", "2", "3", "4", "5", "6"]:
        try:
            #print(f"Checking job {i}")
            if row[f"Work From Home {i}"] == "False":
                #print(f"Job {i} was not work from home")
                row[f"Home Days {i}"] = pd.NA
                row[f"Income {i}.1"] = pd.NA
                row[f"Income {i}.2"] = pd.NA
                row[f"Income {i}.3"] = pd.NA
                row[f"Hourly {i}.1"] = pd.NA
                row[f"Hourly {i}.2"] = pd.NA
                row[f"Hourly {i}.3"] = pd.NA
                row[f"Weekly {i}.1"] = pd.NA
                row[f"Weekly {i}.2"] = pd.NA
                row[f"Weekly {i}.3"] = pd.NA
                row[f"Biweekly {i}.1"] = pd.NA
                row[f"Biweekly {i}.2"] = pd.NA
                row[f"Biweekly {i}.3"] = pd.NA
                row[f"Monthly {i}.1"] = pd.NA
                row[f"Monthly {i}.2"] = pd.NA
                row[f"Monthly {i}.3"] = pd.NA
                row[f"Bimonthly {i}.1"] = pd.NA
                row[f"Bimonthly {i}.2"] = pd.NA
                row[f"Bimonthly {i}.3"] = pd.NA
                row[f"Worker Class {i}"] = pd.NA
                row[f"Industry Type {i}"] = pd.NA
                row[f"Occupation Type {i}"] = pd.NA
                row[f"Work Hours {i}"] = pd.NA
                #print(f"Setting work hours {i}")
        except:
            print(f"Item for row {i} not found. Skipping.")
    return row

In [93]:
test_df = home_only_df[home_only_df.index == 6424]
test_df

,State,Work From Home 1,Work From Home 2,Work From Home 3,Work From Home 4,Work From Home 5,Work From Home 6,Home Days 1,Home Days 2,Home Days 3,...,Occupation Type 3,Occupation Type 4,Occupation Type 5,Occupation Type 6,Work Hours 1,Work Hours 2,Work Hours 3,Work Hours 4,Work Hours 5,Work Hours 6
6424,Montana,NaN,NaN,False,True,NaN,NaN,<NA>,<NA>,0,...,Retail salespersons,Retail salespersons,NaN,NaN,NaN,NaN,4.8,6.0,NaN,NaN

In [61]:
home_only_df.index.dtype

dtype('int64')

In [95]:
clear_non_remote_jobs(test_df.iloc[0])

Checking job 1
Checking job 2
Checking job 3
Job 3 was not work from home
Setting work hours 3
Checking job 4
Checking job 5
Checking job 6

State               Montana
Work From Home 1        NaN
Work From Home 2        NaN
Work From Home 3      False
Work From Home 4       True
                     ...
Work Hours 6            NaN
Weekly 3.3             <NA>
Biweekly 3.3           <NA>
Monthly 3.3            <NA>
Bimonthly 3.3          <NA>
Name: 6424, Length: 116, dtype: object

In [117]:
adjusted_home_only_df = home_only_df.apply(clear_non_remote_jobs, axis=1)
adjusted_home_only_df = adjusted_home_only_df[home_only_df.columns]
#adjusted_home_only_df.head()
adjusted_home_only_df.columns

Index(['State', 'Work From Home 1', 'Work From Home 2', 'Work From Home 3',
       'Work From Home 4', 'Work From Home 5', 'Work From Home 6',
       'Home Days 1', 'Home Days 2', 'Home Days 3',
       ...
       'Occupation Type 3', 'Occupation Type 4', 'Occupation Type 5',
       'Occupation Type 6', 'Work Hours 1', 'Work Hours 2', 'Work Hours 3',
       'Work Hours 4', 'Work Hours 5', 'Work Hours 6'],
      dtype='object', length=112)

In [115]:
set(adjusted_home_only_df.columns)-set(home_only_df.columns)

{'Bimonthly 3.3',
 'Bimonthly 4.2',
 'Bimonthly 4.3',
 'Bimonthly 5.1',
 'Bimonthly 5.2',
 'Bimonthly 5.3',
 'Bimonthly 6.1',
 'Bimonthly 6.2',
 'Bimonthly 6.3',
 'Biweekly 3.3',
 'Biweekly 5.1',
 'Biweekly 5.2',
 'Biweekly 5.3',
 'Biweekly 6.1',
 'Biweekly 6.2',
 'Biweekly 6.3',
 'Hourly 4.3',
 'Hourly 5.3',
 'Hourly 6.1',
 'Hourly 6.2',
 'Hourly 6.3',
 'Income 4.3',
 'Income 5.2',
 'Income 5.3',
 'Income 6.2',
 'Income 6.3',
 'Monthly 2.3',
 'Monthly 3.3',
 'Monthly 4.1',
 'Monthly 4.2',
 'Monthly 4.3',
 'Monthly 5.1',
 'Monthly 5.2',
 'Monthly 5.3',
 'Monthly 6.1',
 'Monthly 6.2',
 'Monthly 6.3',
 'Weekly 3.3',
 'Weekly 4.2',
 'Weekly 4.3',
 'Weekly 5.1',
 'Weekly 5.3',
 'Weekly 6.1',
 'Weekly 6.2',
 'Weekly 6.3'}

In [25]:
# Clearing out non-remote jobs from the those with multiple jobs
def clear_non_remote_jobs(row):
    if row[f"Work From Home 1"] != "True":
        row[f"Home Days 1"] = pd.NA
        row[f"Income 1.1"] = pd.NA
        row[f"Income 1.2"] = pd.NA
        row[f"Income 1.3"] = pd.NA
        row[f"Hourly 1.1"] = pd.NA
        row[f"Hourly 1.2"] = pd.NA
        row[f"Hourly 1.3"] = pd.NA
        row[f"Weekly 1.1"] = pd.NA
        row[f"Weekly 1.2"] = pd.NA
        row[f"Weekly 1.3"] = pd.NA
        row[f"Biweekly 1.1"] = pd.NA
        row[f"Biweekly 1.2"] = pd.NA
        row[f"Biweekly 1.3"] = pd.NA
        row[f"Monthly 1.1"] = pd.NA
        row[f"Monthly 1.2"] = pd.NA
        row[f"Monthly 1.3"] = pd.NA
        row[f"Bimonthly 1.1"] = pd.NA
        row[f"Bimonthly 1.2"] = pd.NA
        row[f"Bimonthly 1.3"] = pd.NA
        row[f"Worker Class 1"] = pd.NA
        row[f"Industry Type 1"] = pd.NA
        row[f"Occupation Type 1"] = pd.NA
        row[f"Work Hours 1"] = pd.NA
    if row[f"Work From Home 2"] != "True":
        row[f"Home Days 2"] = pd.NA
        row[f"Income 2.1"] = pd.NA
        row[f"Income 2.2"] = pd.NA
        row[f"Income 2.3"] = pd.NA
        row[f"Hourly 2.1"] = pd.NA
        row[f"Hourly 2.2"] = pd.NA
        row[f"Hourly 2.3"] = pd.NA
        row[f"Weekly 2.1"] = pd.NA
        row[f"Weekly 2.2"] = pd.NA
        row[f"Weekly 2.3"] = pd.NA
        row[f"Biweekly 2.1"] = pd.NA
        row[f"Biweekly 2.2"] = pd.NA
        row[f"Biweekly 2.3"] = pd.NA
        row[f"Monthly 2.1"] = pd.NA
        row[f"Monthly 2.2"] = pd.NA
        row[f"Bimonthly 2.1"] = pd.NA
        row[f"Bimonthly 2.2"] = pd.NA
        row[f"Bimonthly 2.3"] = pd.NA
        row[f"Worker Class 2"] = pd.NA
        row[f"Industry Type 2"] = pd.NA
        row[f"Occupation Type 2"] = pd.NA
        row[f"Work Hours 2"] = pd.NA
    if row[f"Work From Home 3"] != "True":
        row[f"Home Days 3"] = pd.NA
        row[f"Income 3.1"] = pd.NA
        row[f"Income 3.2"] = pd.NA
        row[f"Income 3.3"] = pd.NA
        row[f"Hourly 3.1"] = pd.NA
        row[f"Hourly 3.2"] = pd.NA
        row[f"Hourly 3.3"] = pd.NA
        row[f"Weekly 3.1"] = pd.NA
        row[f"Weekly 3.2"] = pd.NA
        row[f"Biweekly 3.1"] = pd.NA
        row[f"Biweekly 3.2"] = pd.NA
        row[f"Monthly 3.1"] = pd.NA
        row[f"Monthly 3.2"] = pd.NA
        row[f"Bimonthly 3.1"] = pd.NA
        row[f"Bimonthly 3.2"] = pd.NA
        row[f"Worker Class 3"] = pd.NA
        row[f"Industry Type 3"] = pd.NA
        row[f"Occupation Type 3"] = pd.NA
        row[f"Work Hours 3"] = pd.NA
    if row[f"Work From Home 4"] != "True":
        row[f"Home Days 4"] = pd.NA
        row[f"Income 4.1"] = pd.NA
        row[f"Income 4.2"] = pd.NA
        row[f"Hourly 4.1"] = pd.NA
        row[f"Hourly 4.2"] = pd.NA
        row[f"Weekly 4.1"] = pd.NA
        row[f"Biweekly 4.1"] = pd.NA
        row[f"Biweekly 4.2"] = pd.NA
        row[f"Biweekly 4.3"] = pd.NA
        row[f"Bimonthly 4.1"] = pd.NA
        row[f"Worker Class 4"] = pd.NA
        row[f"Industry Type 4"] = pd.NA
        row[f"Occupation Type 4"] = pd.NA
        row[f"Work Hours 4"] = pd.NA
    if row[f"Work From Home 5"] != "True":
        row[f"Home Days 5"] = pd.NA
        row[f"Income 5.1"] = pd.NA
        row[f"Hourly 5.1"] = pd.NA
        row[f"Hourly 5.2"] = pd.NA
        row[f"Weekly 5.2"] = pd.NA
        row[f"Worker Class 5"] = pd.NA
        row[f"Industry Type 5"] = pd.NA
        row[f"Occupation Type 5"] = pd.NA
        row[f"Work Hours 5"] = pd.NA
    if row[f"Work From Home 6"] != "True":
        row[f"Home Days 6"] = pd.NA
        row[f"Income 6.1"] = pd.NA
        row[f"Worker Class 6"] = pd.NA
        row[f"Industry Type 6"] = pd.NA
        row[f"Occupation Type 6"] = pd.NA
        row[f"Work Hours 6"] = pd.NA

In [41]:
def clear_non_remote_jobs1(row):
    if row[f"Work From Home 1"] != "True":
        row[f"Home Days 1"] = pd.NA
        row[f"Income 1.1"] = pd.NA
        row[f"Income 1.2"] = pd.NA
        row[f"Income 1.3"] = pd.NA
        row[f"Hourly 1.1"] = pd.NA
        row[f"Hourly 1.2"] = pd.NA
        row[f"Hourly 1.3"] = pd.NA
        row[f"Weekly 1.1"] = pd.NA
        row[f"Weekly 1.2"] = pd.NA
        row[f"Weekly 1.3"] = pd.NA
        row[f"Biweekly 1.1"] = pd.NA
        row[f"Biweekly 1.2"] = pd.NA
        row[f"Biweekly 1.3"] = pd.NA
        row[f"Monthly 1.1"] = pd.NA
        row[f"Monthly 1.2"] = pd.NA
        row[f"Monthly 1.3"] = pd.NA
        row[f"Bimonthly 1.1"] = pd.NA
        row[f"Bimonthly 1.2"] = pd.NA
        row[f"Bimonthly 1.3"] = pd.NA
        row[f"Worker Class 1"] = pd.NA
        row[f"Industry Type 1"] = pd.NA
        row[f"Occupation Type 1"] = pd.NA
        row[f"Work Hours 1"] = pd.NA

adjusted_home_only_df = home_only_df.apply(clear_non_remote_jobs1, axis=1)
adjusted_home_only_df.head()

24    None
25    None
26    None
27    None
28    None
dtype: object

In [13]:
def clear_non_remote_jobs2(row):
    if row["Work From Home 2"] != "True":
        row["Home Days 2"] = pd.NA
        row["Income 2.1"] = pd.NA
        row["Income 2.2"] = pd.NA
        row["Income 2.3"] = pd.NA
        row["Hourly 2.1"] = pd.NA
        row["Hourly 2.2"] = pd.NA
        row["Hourly 2.3"] = pd.NA
        row["Weekly 2.1"] = pd.NA
        row["Weekly 2.2"] = pd.NA
        row["Weekly 2.3"] = pd.NA
        row["Biweekly 2.1"] = pd.NA
        row["Biweekly 2.2"] = pd.NA
        row["Biweekly 2.3"] = pd.NA
        row["Monthly 2.1"] = pd.NA
        row["Monthly 2.2"] = pd.NA
        row["Bimonthly 2.1"] = pd.NA
        row["Bimonthly 2.2"] = pd.NA
        row["Bimonthly 2.3"] = pd.NA
        row["Worker Class 2"] = pd.NA
        row["Industry Type 2"] = pd.NA
        row["Occupation Type 2"] = pd.NA
        row["Work Hours 2"] = pd.NA

In [15]:
adjusted_home_only_df = home_only_df.apply(clear_non_remote_jobs2, axis=1)

In [ ]:
def clear_non_remote_jobs3(row):
    if row["Work From Home 3"] != "True":
        row["Home Days 3"] = pd.NA
        row["Income 3.1"] = pd.NA
        row["Income 3.2"] = pd.NA
        row["Income 3.3"] = pd.NA
        row["Hourly 3.1"] = pd.NA
        row["Hourly 3.2"] = pd.NA
        row["Hourly 3.3"] = pd.NA
        row["Weekly 3.1"] = pd.NA
        row["Weekly 3.2"] = pd.NA
        row["Biweekly 3.1"] = pd.NA
        row["Biweekly 3.2"] = pd.NA
        row["Monthly 3.1"] = pd.NA
        row["Monthly 3.2"] = pd.NA
        row["Bimonthly 3.1"] = pd.NA
        row["Bimonthly 3.2"] = pd.NA
        row["Worker Class 3"] = pd.NA
        row["Industry Type 3"] = pd.NA
        row["Occupation Type 3"] = pd.NA
        row["Work Hours 3"] = pd.NA

In [21]:
# DON'T USE THIS ONE
# Clearing out non-remote jobs from the those with multiple jobs
def clear_non_remote_jobs(row):
    for i in ["1", "2", "3", "4", "5", "6"]:
        try:
            if row[f"Work From Home {i}"] != "True":
                row[f"Home Days {i}"] = pd.NA
                row[f"Income {i}.1"] = pd.NA
                row[f"Income {i}.2"] = pd.NA
                row[f"Income {i}.3"] = pd.NA
                row[f"Hourly {i}.1"] = pd.NA
                row[f"Hourly {i}.2"] = pd.NA
                row[f"Hourly {i}.3"] = pd.NA
                row[f"Weekly {i}.1"] = pd.NA
                row[f"Weekly {i}.2"] = pd.NA
                row[f"Weekly {i}.3"] = pd.NA
                row[f"Biweekly {i}.1"] = pd.NA
                row[f"Biweekly {i}.2"] = pd.NA
                row[f"Biweekly {i}.3"] = pd.NA
                row[f"Monthly {i}.1"] = pd.NA
                row[f"Monthly {i}.2"] = pd.NA
                row[f"Monthly {i}.3"] = pd.NA
                row[f"Bimonthly {i}.1"] = pd.NA
                row[f"Bimonthly {i}.2"] = pd.NA
                row[f"Bimonthly {i}.3"] = pd.NA
                row[f"Worker Class {i}"] = pd.NA
                row[f"Industry Type {i}"] = pd.NA
                row[f"Occupation Type {i}"] = pd.NA
                row[f"Work Hours {i}"] = pd.NA
        except:
            print(f"Item for row {i} not found. Skipping.")

In [ ]:
# Run the function
adjusted_home_only_df = home_only_df.apply(clear_non_remote_jobs, axis=1)

,State,Work From Home 1,Work From Home 2,Work From Home 3,Work From Home 4,Work From Home 5,Work From Home 6,Home Days 1,Home Days 2,Home Days 3,...,Occupation Type 3,Occupation Type 4,Occupation Type 5,Occupation Type 6,Work Hours 1,Work Hours 2,Work Hours 3,Work Hours 4,Work Hours 5,Work Hours 6
24,Kansas,True,NaN,NaN,NaN,NaN,NaN,5,<NA>,<NA>,...,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN
25,Kansas,True,NaN,NaN,NaN,NaN,NaN,5,<NA>,<NA>,...,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN
26,Kansas,True,NaN,NaN,NaN,NaN,NaN,5,<NA>,<NA>,...,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN
27,Kansas,True,NaN,NaN,NaN,NaN,NaN,5,<NA>,<NA>,...,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN
28,Kansas,True,NaN,NaN,NaN,NaN,NaN,5,<NA>,<NA>,...,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN

In [131]:
adjusted_home_only_df.dropna(axis=1, how="all", inplace=True)
#Check which columns have been removed
set(home_only_df.columns)-set(adjusted_home_only_df.columns)
#adjusted_home_only_df.head()

{'Bimonthly 2.2',
 'Bimonthly 2.3',
 'Bimonthly 3.1',
 'Bimonthly 3.2',
 'Bimonthly 4.1',
 'Biweekly 2.3',
 'Biweekly 3.2',
 'Biweekly 4.2',
 'Biweekly 4.3',
 'Hourly 3.3',
 'Hourly 4.2',
 'Hourly 5.1',
 'Hourly 5.2',
 'Income 3.3',
 'Income 4.2',
 'Income 6.1',
 'Monthly 3.2',
 'Weekly 2.2',
 'Weekly 2.3',
 'Weekly 3.2',
 'Weekly 5.2'}

In [123]:
adjusted_home_only_df.to_csv("Resources/home_only_test.csv")

In [319]:
not_home_df = full_df.copy()

In [327]:
not_home_df = not_home_df[(not_home_df[['Work From Home 1', 'Work From Home 2', 'Work From Home 3', 'Work From Home 4', 'Work From Home 5', 'Work From Home 6']] == ['No', 'No', 'No', 'No', 'No', 'No']).any(axis=1)]
print(f"Number of returned rows: {len(not_home_df)}")
not_home_df.head()

Number of returned rows: 185025

,State,Work From Home 1,Work From Home 2,Work From Home 3,Work From Home 4,Work From Home 5,Work From Home 6,Home Days 1,Home Days 2,Home Days 3,...,Occupation Code 3,Occupation Code 4,Occupation Code 5,Occupation Code 6,Work Hours 1,Work Hours 2,Work Hours 3,Work Hours 4,Work Hours 5,Work Hours 6
0,Kansas,No,NaN,NaN,NaN,NaN,NaN,0,<NA>,<NA>,...,NaN,NaN,NaN,NaN,35.00,<NA>,<NA>,<NA>,<NA>,<NA>
1,Kansas,No,NaN,NaN,NaN,NaN,NaN,0,<NA>,<NA>,...,NaN,NaN,NaN,NaN,35.00,<NA>,<NA>,<NA>,<NA>,<NA>
2,Kansas,No,NaN,NaN,NaN,NaN,NaN,0,<NA>,<NA>,...,NaN,NaN,NaN,NaN,35.00,<NA>,<NA>,<NA>,<NA>,<NA>
3,Kansas,No,NaN,NaN,NaN,NaN,NaN,0,<NA>,<NA>,...,NaN,NaN,NaN,NaN,35.00,<NA>,<NA>,<NA>,<NA>,<NA>
4,Kansas,No,NaN,NaN,NaN,NaN,NaN,0,<NA>,<NA>,...,NaN,NaN,NaN,NaN,35.00,<NA>,<NA>,<NA>,<NA>,<NA>

In [155]:
print(len(home_only_df))
print(len(not_home_df))
len(home_only_df[home_only_df['Work From Home 2'] == '1'])

38179
185025

4892

In [163]:
len(full_df[full_df['Work From Home 1'] == '-9'])

275947

In [177]:
home_only_df["Hourly 1.1"].tail()

487519    -999.00
487533    -999.00
487534    -999.00
487535    -999.00
487543    -999.00
Name: Hourly 1.1, dtype: object

In [191]:
print(len(home_only_df))
print(len(home_only_df[home_only_df["Hourly 1.1"] != "-999.00"]))
print(len(home_only_df[home_only_df["Biweekly 1.1"] != "-999"]))

38179
5316
287

In [189]:
biweekly_home_only_df = home_only_df[home_only_df["Biweekly 1.1"] != "-999"]
print(len(biweekly_home_only_df))
biweekly_home_only_df.head()

3129

,State,Work From Home 1,Work From Home 2,Work From Home 3,Work From Home 4,Work From Home 5,Work From Home 6,Home Days 1,Home Days 2,Home Days 3,...,Occupation Code 3,Occupation Code 4,Occupation Code 5,Occupation Code 6,Work Hours 1,Work Hours 2,Work Hours 3,Work Hours 4,Work Hours 5,Work Hours 6
1848,40,1,-9,-9,-9,-9,-9,5,-999,-999,...,,,,-9,40.00,-999.00,-999.00,-999.00,-999.00,-999.00
1849,40,1,-9,-9,-9,-9,-9,5,-999,-999,...,,,,-9,40.00,-999.00,-999.00,-999.00,-999.00,-999.00
1850,40,1,-9,-9,-9,-9,-9,5,-999,-999,...,,,,-9,40.00,-999.00,-999.00,-999.00,-999.00,-999.00
1851,40,1,-9,-9,-9,-9,-9,5,-999,-999,...,,,,-9,40.00,-999.00,-999.00,-999.00,-999.00,-999.00
1852,40,1,-9,-9,-9,-9,-9,5,-999,-999,...,,,,-9,40.00,-999.00,-999.00,-999.00,-999.00,-999.00

In [ ]:
edit_med_df = med_df[med_df["Home Days 1"]

In [43]:
from collections import Counter

year_list = call("SPANEL")

counts = Counter(year_list)

print(counts)

Counter({'2022': 10195, '2020': 3921, '2021': 3332})

In [59]:
class2_list = call("TJB1_HOURLY1")

class2_counts = Counter(class2_list)

print(class2_counts)
print(len(class2_list))

Counter({'-999.00': 424141, '15.00': 3698, '16.00': 2073, '14.00': 1938, '17.00': 1901, '20.00': 1895, '13.00': 1720, '18.00': 1712, '12.00': 1692, '10.00': 1590, '25.00': 1228, '11.00': 1121, '19.00': 1106, '101.00': 1104, '16.50': 810, '22.00': 748, '21.00': 701, '23.00': 694, '12.50': 657, '15.50': 625, '35.00': 601, '30.00': 588, '9.00': 535, '14.50': 531, '17.50': 523, '8.00': 511, '28.00': 510, '24.00': 485, '13.50': 453, '127.00': 432, '18.50': 431, '27.00': 421, '40.00': 392, '26.00': 381, '32.00': 376, '10.50': 375, '19.50': 357, '12.30': 355, '11.50': 348, '9.50': 322, '17.30': 302, '140.00': 279, '16.80': 278, '31.00': 268, '16.30': 252, '22.50': 249, '33.00': 247, '14.30': 246, '21.50': 244, '29.00': 232, '45.00': 230, '13.30': 215, '15.80': 214, '15.30': 207, '12.80': 199, '37.00': 198, '50.00': 193, '34.00': 193, '18.30': 189, '17.80': 186, '19.80': 182, '16.20': 180, '18.80': 178, '8.50': 176, '14.80': 175, '15.70': 175, '7.25': 173, '10.80': 169, '23.50': 169, '36.00': 165, '27.50': 157, '31.50': 156, '43.00': 156, '26.50': 155, '14.40': 154, '38.00': 154, '12.20': 152, '19.40': 150, '19.30': 149, '14.10': 147, '17.10': 140, '7.50': 138, '20.50': 138, '18.90': 136, '12.90': 133, '11.30': 133, '52.00': 132, '10.30': 131, '18.60': 130, '18.10': 127, '11.20': 127, '46.00': 125, '13.80': 125, '9.25': 125, '17.90': 123, '16.60': 123, '60.00': 122, '12.40': 121, '20.20': 120, '18.40': 120, '20.90': 120, '14.60': 118, '17.40': 118, '15.20': 116, '13.70': 115, '15.40': 113, '18.20': 112, '42.00': 111, '22.80': 109, '16.40': 109, '17.20': 108, '17.60': 108, '23.80': 108, '21.30': 108, '16.90': 107, '15.10': 103, '14.90': 102, '13.10': 102, '20.30': 101, '5.00': 99, '16.10': 99, '15.60': 98, '2.15': 98, '23.40': 98, '18.70': 97, '11.90': 96, '13.40': 96, '39.50': 96, '10.20': 96, '19.70': 95, '10.60': 91, '30.50': 91, '28.50': 91, '12.70': 91, '12.60': 89, '17.70': 86, '39.00': 86, '14.70': 85, '20.10': 84, '41.00': 84, '23.90': 84, '25.70': 84, '21.80': 84, '1.00': 84, '29.90': 84, '13.20': 83, '19.10': 83, '22.30': 83, '8.25': 82, '48.00': 81, '15.90': 80, '44.00': 80, '29.80': 78, '3.70': 77, '3.50': 77, '25.30': 77, '24.50': 77, '30.30': 75, '53.00': 72, '21.60': 72, '21.20': 72, '22.20': 72, '22.90': 70, '24.30': 70, '37.50': 69, '14.20': 68, '11.80': 68, '21.10': 67, '9.75': 67, '33.30': 67, '62.00': 67, '7.85': 67, '21.40': 67, '10.90': 67, '51.00': 66, '19.90': 65, '31.30': 63, '28.80': 63, '2.30': 62, '32.90': 62, '11.10': 62, '20.60': 61, '27.90': 60, '19.20': 60, '38.50': 60, '24.80': 60, '26.60': 60, '23.10': 60, '55.00': 60, '22.10': 60, '8.20': 58, '7.75': 58, '8.30': 58, '28.20': 57, '7.00': 57, '12.10': 57, '3.55': 56, '36.50': 55, '6.70': 55, '9.65': 55, '23.60': 54, '4.00': 54, '24.10': 54, '10.40': 53, '23.70': 52, '16.70': 51, '9.30': 51, '25.20': 51, '11.60': 50, '25.50': 50, '31.80': 49, '6.75': 48, '29.10': 48, '13.60': 48, '2.60': 48, '6.90': 48, '30.80': 48, '35.80': 48, '9.55': 48, '19.60': 48, '49.00': 48, '28.40': 48, '20.40': 48, '30.90': 48, '7.55': 48, '34.80': 48, '7.35': 47, '25.80': 46, '24.90': 45, '65.00': 45, '21.90': 45, '36.80': 45, '4.65': 44, '1.95': 44, '13.90': 44, '26.80': 43, '32.50': 42, '3.65': 42, '24.20': 42, '7.80': 41, '3.25': 41, '10.70': 41, '8.05': 40, '54.00': 40, '8.15': 40, '21.70': 39, '34.10': 39, '25.10': 39, '43.30': 38, '6.05': 38, '9.15': 38, '53.80': 36, '23.30': 36, '25.40': 36, '36.30': 36, '22.40': 36, '20.70': 36, '2.00': 36, '3.35': 36, '34.60': 36, '20.80': 36, '4.20': 36, '2.50': 36, '26.30': 36, '5.60': 36, '34.20': 36, '24.70': 36, '33.60': 36, '3.30': 36, '39.70': 36, '9.95': 36, '29.60': 36, '7.15': 36, '3.10': 36, '27.40': 36, '30.40': 36, '27.80': 36, '1.45': 36, '64.00': 36, '31.20': 36, '4.95': 36, '35.70': 36, '3.45': 36, '28.60': 36, '5.65': 36, '10.10': 36, '32.40': 36, '2.85': 36, '40.50': 36, '35.60': 36, '31.10': 36, '27.10': 36, '6.45': 36, '31.40': 36, '11.40': 35, '1.30': 35, '7.90': 35, '26.40': 34, '7.05': 34, '9.80': 34, '42.10': 34, '30.20': 34, '7.20': 34, '2.05': 33, '8.60': 33, '22.60': 33, '9.60': 32, '43.50': 32, '47.00': 31, '47.80': 31, '27.30': 31, '26.10': 30, '3.00': 30, '34.50': 29, '29.40': 29, '40.60': 29, '26.70': 29, '2.95': 28, '4.60': 28, '38.40': 27, '50.40': 26, '42.20': 26, '41.30': 25, '56.00': 25, '4.50': 25, '9.40': 24, '11.70': 24, '46.80': 24, '27.60': 24, '1.85': 24, '42.60': 24, '56.30': 24, '47.50': 24, '39.10': 24, '37.20': 24, '4.35': 24, '23.20': 24, '32.10': 24, '52.90': 24, '50.80': 24, '28.90': 24, '36.10': 24, '37.60': 24, '7.40': 24, '47.70': 24, '24.60': 24, '6.85': 24, '7.10': 24, '9.10': 24, '26.90': 24, '34.40': 24, '4.30': 24, '39.40': 24, '6.00': 24, '51.90': 24, '38.60': 24, '44.90': 24, '51.80': 24, '5.20': 24, '47.10': 24, '1.70': 24, '2.45': 24, '2.70': 24, '26.20': 24, '8.35': 24, '35.40': 24, '31.70': 24, '70.00': 24, '6.40': 24, '5.70': 24, '3.75': 24, '5.40': 24, '27.70': 24, '32.60': 24, '1.65': 24, '1.90': 24, '69.60': 24, '7.95': 24, '8.65': 24, '1.60': 24, '35.30': 24, '37.40': 24, '27.20': 24, '9.05': 24, '4.80': 24, '6.65': 24, '61.00': 24, '42.40': 24, '33.80': 24, '9.90': 24, '32.80': 24, '1.55': 24, '35.20': 24, '73.00': 24, '25.60': 24, '63.00': 24, '8.75': 23, '1.80': 23, '3.95': 23, '60.20': 22, '8.85': 21, '5.25': 21, '3.20': 20, '2.75': 20, '43.10': 20, '28.30': 19, '37.70': 19, '58.00': 19, '8.90': 19, '5.85': 19, '44.80': 19, '28.10': 18, '39.80': 18, '66.90': 18, '43.20': 18, '3.40': 18, '33.70': 18, '3.60': 18, '73.70': 17, '4.25': 17, '42.50': 17, '36.60': 17, '29.50': 16, '38.70': 16, '22.70': 16, '8.40': 16, '8.45': 16, '41.60': 15, '4.05': 15, '2.80': 15, '62.60': 15, '8.55': 15, '37.80': 15, '71.90': 14, '52.50': 14, '50.50': 13, '33.40': 13, '34.70': 12, '1.05': 12, '57.60': 12, '36.20': 12, '29.70': 12, '41.50': 12, '6.55': 12, '2.35': 12, '52.70': 12, '59.30': 12, '62.50': 12, '54.10': 12, '44.30': 12, '38.20': 12, '60.50': 12, '54.60': 12, '52.80': 12, '29.30': 12, '72.10': 12, '6.80': 12, '64.20': 12, '1.40': 12, '5.30': 12, '25.90': 12, '62.20': 12, '53.70': 12, '51.10': 12, '1.25': 12, '3.80': 12, '49.10': 12, '53.50': 12, '6.20': 12, '57.10': 12, '54.30': 12, '41.20': 12, '35.10': 12, '58.30': 12, '48.50': 12, '63.10': 12, '36.40': 12, '59.60': 12, '6.60': 12, '30.60': 12, '4.75': 12, '43.60': 12, '33.10': 12, '61.30': 12, '7.30': 12, '49.40': 12, '39.30': 12, '42.80': 12, '3.05': 12, '24.40': 12, '53.30': 12, '28.70': 12, '59.80': 12, '64.10': 12, '36.70': 12, '67.80': 12, '5.15': 12, '8.80': 12, '32.70': 12, '46.20': 12, '47.30': 12, '1.75': 12, '44.60': 12, '45.90': 12, '9.70': 12, '57.00': 12, '7.70': 12, '31.60': 12, '49.80': 12, '63.90': 12, '59.70': 12, '36.90': 12, '32.30': 12, '45.50': 12, '41.80': 12, '1.15': 12, '1.10': 12, '6.35': 12, '38.80': 12, '59.50': 12, '45.80': 12, '53.10': 12, '5.45': 12, '9.45': 12, '70.70': 12, '47.20': 12, '69.90': 12, '55.50': 12, '72.50': 12, '32.20': 12, '37.30': 12, '51.40': 12, '2.90': 12, '41.40': 12, '69.70': 12, '4.45': 12, '58.40': 12, '6.15': 12, '69.50': 12, '42.70': 12, '33.90': 12, '60.40': 12, '71.10': 12, '57.50': 12, '45.70': 12, '44.50': 12, '68.50': 12, '4.10': 12, '71.20': 12, '3.90': 12, '3.15': 12, '46.70': 12, '29.20': 12, '72.00': 12, '37.10': 12, '39.90': 12, '6.95': 12, '48.90': 12, '1.20': 12, '65.50': 12, '40.70': 12, '57.20': 12, '5.50': 12, '30.10': 12, '6.50': 12, '54.80': 12, '56.80': 12, '2.55': 12, '61.50': 12, '48.10': 12, '2.65': 11, '50.60': 11, '6.25': 10, '9.85': 9, '43.70': 8, '46.90': 8, '5.55': 8, '52.20': 8, '46.50': 8, '49.60': 7, '35.90': 7, '57.30': 7, '9.35': 7, '4.85': 7, '4.90': 5, '66.80': 5, '67.10': 5, '60.10': 5, '46.30': 5, '1.50': 4, '72.20': 4, '61.80': 4, '59.10': 4, '62.80': 4, '65.60': 4, '8.10': 4, '71.40': 3, '2.40': 3, '53.60': 3, '47.60': 3, '7.45': 3, '69.00': 2, '4.55': 2, '67.50': 2, '66.00': 2, '51.70': 1})
487736

In [53]:
class2_list = call("EJB4_CLWRK")

class2_counts = Counter(class2_list)

print(class2_counts)
len(class2_list)

Counter({'-9': 487289, '5': 204, '6': 62, '8': 57, '4': 50, '7': 30, '3': 27, '1': 17})

487736

In [11]:
# Renaming indices
data = {"State": state_list,
        #"Gender": bio_list,
        "Worker Class": class1_list,
        "Days Worked from Home": from_home1_list,
        "Income": income1_list
        
}

# Creating copy of DataFrame to adjust
df = pd.DataFrame(data)
df.head()

  State Worker Class Days Worked from Home Income
0    20            5                     0   -999
1    20            5                     0   -999
2    20            5                     0   -999
3    20            5                     0   -999
4    20            5                     0   -999

In [17]:
# Renaming indices
data = {"State": state_list,
        #"Gender": bio_list,
        "Worker Class": class_list,
        "Days Worked from Home": from_home_list,
        "Income": income_list
}

# Creating copy of DataFrame to adjust
df = pd.DataFrame(data)
basic_df = df.copy()

# Defining states
state_fips_to_name = {
    '01': 'Alabama', '02': 'Alaska', '04': 'Arizona', '05': 'Arkansas', '06': 'California',
    '08': 'Colorado', '09': 'Connecticut', '10': 'Delaware', '11': 'District of Columbia',
    '12': 'Florida', '13': 'Georgia', '15': 'Hawaii', '16': 'Idaho', '17': 'Illinois',
    '18': 'Indiana', '19': 'Iowa', '20': 'Kansas', '21': 'Kentucky', '22': 'Louisiana',
    '23': 'Maine', '24': 'Maryland', '25': 'Massachusetts', '26': 'Michigan', '27': 'Minnesota',
    '28': 'Mississippi', '29': 'Missouri', '30': 'Montana', '31': 'Nebraska', '32': 'Nevada',
    '33': 'New Hampshire', '34': 'New Jersey', '35': 'New Mexico', '36': 'New York', '37': 'North Carolina',
    '38': 'North Dakota', '39': 'Ohio', '40': 'Oklahoma', '41': 'Oregon', '42': 'Pennsylvania',
    '44': 'Rhode Island', '45': 'South Carolina', '46': 'South Dakota', '47': 'Tennessee', '48': 'Texas',
    '49': 'Utah', '50': 'Vermont', '51': 'Virginia', '53': 'Washington', '54': 'West Virginia',
    '55': 'Wisconsin', '56': 'Wyoming', '72': 'Puerto Rico'
}
# Mapping states to values
basic_df["State"] = df["State"].map(state_fips_to_name)
# Defining worker class
class_value_to_words = {
      "2": "Active duty military",
      "6": "Employee of a private, not-for-profit company",
      "8": "Self-employed in own not incorporated business",
      "1": "Federal government employee",
      "-9": "NA or Missing",
      "3": "State government employee",
      "5": "Employee of a private, for-profit company",
      "7": "Self-employed in own incorporated business",
      "4": "Local government employee"
}
# Mapping worker class
basic_df["Worker Class"] = df["Worker Class"].map(class_value_to_words)
# Defining gender
#gender_to_words = {
#      "1": "Male",
#      "2": "Female",
#}
# Mapping gender
#basic_df["Gender"] = df["Gender"].map(gender_to_words)
# Printing basic info
print(len(basic_df))
basic_df.head()

#Exporting to CSV file
basic_df.to_csv("basic_home_worker.csv")

487736

In [17]:
# Defining states
state_fips_to_name = {
    '01': 'Alabama', '02': 'Alaska', '04': 'Arizona', '05': 'Arkansas', '06': 'California',
    '08': 'Colorado', '09': 'Connecticut', '10': 'Delaware', '11': 'District of Columbia',
    '12': 'Florida', '13': 'Georgia', '15': 'Hawaii', '16': 'Idaho', '17': 'Illinois',
    '18': 'Indiana', '19': 'Iowa', '20': 'Kansas', '21': 'Kentucky', '22': 'Louisiana',
    '23': 'Maine', '24': 'Maryland', '25': 'Massachusetts', '26': 'Michigan', '27': 'Minnesota',
    '28': 'Mississippi', '29': 'Missouri', '30': 'Montana', '31': 'Nebraska', '32': 'Nevada',
    '33': 'New Hampshire', '34': 'New Jersey', '35': 'New Mexico', '36': 'New York', '37': 'North Carolina',
    '38': 'North Dakota', '39': 'Ohio', '40': 'Oklahoma', '41': 'Oregon', '42': 'Pennsylvania',
    '44': 'Rhode Island', '45': 'South Carolina', '46': 'South Dakota', '47': 'Tennessee', '48': 'Texas',
    '49': 'Utah', '50': 'Vermont', '51': 'Virginia', '53': 'Washington', '54': 'West Virginia',
    '55': 'Wisconsin', '56': 'Wyoming', '72': 'Puerto Rico'
}
# Mapping states to values
full_df["State"] = full_df["State"].map(state_fips_to_name)
# Defining worker class
class_value_to_words = {
      "2": "Active duty military",
      "6": "Employee of a private, not-for-profit company",
      "8": "Self-employed in own not incorporated business",
      "1": "Federal government employee",
      "-9": "NA or Missing",
      "3": "State government employee",
      "5": "Employee of a private, for-profit company",
      "7": "Self-employed in own incorporated business",
      "4": "Local government employee"
}
# Mapping worker class
full_df["Worker Class"] = full_df["Worker Class"].map(class_value_to_words)
# Defining gender
class_value_to_words = {
      "2": "Active duty military",
      "6": "Employee of a private, not-for-profit company",
      "8": "Self-employed in own not incorporated business",
      "1": "Federal government employee",
      "-9": "NA or Missing",
      "3": "State government employee",
      "5": "Employee of a private, for-profit company",
      "7": "Self-employed in own incorporated business",
      "4": "Local government employee"
}
# Mapping gender

487736

In [197]:
# Defining states
occupation_code_to_name = {
    '0010': 'Chief executives and legislators', '0020': 'General and operations managers', '0040': 'Advertising and promotions managers', '0051': 'Marketing managers', '0052': 'Sales managers', '0060': 'Public relations and fundraising managers', '0101': 'Administrative services managers', '0102': 'Facilities managers', '0110': 'Computer and information systems managers', '0120': 'Financial managers', '0135': 'Compensation and benefits managers', '0136': 'Human resources managers', '0137': 'Training and development managers', '0140': 'Industrial production managers', '0150': 'Purchasing managers', '0160': 'Transportation, storage, and distribution managers', '0205': 'Farmers, ranchers, and other agricultural managers', '0220': 'Construction managers', '0230': 'Education and childcare administrators', '0300': 'Architectural and engineering managers', '0310': 'Food service managers', '0335': 'Entertainment and recreation managers', '0340': 'Lodging managers', '0350': 'Medical and health services managers', '0360': 'Natural sciences managers', '0410': 'Property, real estate, and community association managers', '0420': 'Social and community service managers', '0425': 'Emergency management directors', '0440': 'Other managers', '0500': 'Agents and business managers of artists, performers, and athletes', '0510': 'Buyers and purchasing agents, farm products', '0520': 'Wholesale and retail buyers, except farm products', '0530': 'Purchasing agents, except wholesale, retail, and farm products', '0540': 'Claims adjusters, appraisers, examiners, and investigators', '0565': 'Compliance officers', '0600': 'Cost estimators', '0630': 'Human resources workers', '0640': 'Compensation, benefits, and job analysis specialists', '0650': 'Training and development specialists', '0700': 'Logisticians', '0705': 'Project management specialists', '0710': 'Management analysts', '0725': 'Meeting, convention, and event planners', '0726': 'Fundraisers', '0735': 'Market research analysts and marketing specialists', '0750': 'Business operations specialists, all other', '0800': 'Accountants and auditors', '0810': 'Property appraisers and assessors', '0820': 'Budget analysts', '0830': 'Credit analysts', '0845': 'Financial and investment analysts', '0850': 'Personal financial advisors', '0860': 'Insurance underwriters', '0900': 'Financial examiners', '0910': 'Credit counselors and loan officers', '0930': 'Tax examiners and collectors, and revenue agents', '0940': 'Tax preparers', '0960': 'Other financial specialists', '1005': 'Computer and information research scientists', '1006': 'Computer systems analysts', '1007': 'Information security analysts', '1010': 'Computer programmers', '1021': 'Software developers', '1022': 'Software quality assurance analysts and testers', '1031': 'Web developers', '1032': 'Web and digital interface designers', '1050': 'Computer support specialists', '1065': 'Database administrators and architects', '1105': 'Network and computer systems administrators', '1106': 'Computer network architects', '1108': 'Computer occupations, all other', '1200': 'Actuaries', '1220': 'Operations research analysts', '1240': 'Other mathematical science occupations', '1305': 'Architects, except landscape and naval', '1306': 'Landscape architects', '1310': 'Surveyors, cartographers, and photogrammetrists', '1320': 'Aerospace engineers', '1340': 'Biomedical and agricultural engineers', '1350': 'Chemical engineers', '1360': 'Civil engineers', '1400': 'Computer hardware engineers', '1410': 'Electrical and electronics engineers', '1420': 'Environmental engineers', '1430': 'Industrial engineers, including health and safety', '1440': 'Marine engineers and naval architects', '1450': 'Materials engineers', '1460': 'Mechanical engineers', '1520': 'Petroleum, mining and geological engineers, including mining safety engineers', '1530': 'Other engineers', '1541': 'Architectural and civil drafters', '1545': 'Other drafters', '1551': 'Electrical and electronic engineering technologists and technicians', '1555': 'Other engineering technologists and technicians, except drafters', '1560': 'Surveying and mapping technicians', '1600': 'Agricultural and food scientists', '1610': 'Biological scientists', '1640': 'Conservation scientists and foresters', '1650': 'Other life scientists', '1700': 'Astronomers and physicists', '1710': 'Atmospheric and space scientists', '1720': 'Chemists and materials scientists', '1745': 'Environmental scientists and specialists, including health', '1750': 'Geoscientists and hydrologists, except geographers', '1760': 'Physical scientists, all other', '1800': 'Economists', '1821': 'Clinical and counseling psychologists', '1822': 'School psychologists', '1825': 'Other psychologists', '1840': 'Urban and regional planners', '1860': 'Other social scientists', '1900': 'Agricultural and food science technicians', '1910': 'Biological technicians', '1920': 'Chemical technicians', '1935': 'Environmental science and geoscience technicians, and nuclear technicians', '1970': 'Other life, physical, and social science technicians', '1980': 'Occupational health and safety specialists and technicians', '2001': 'Substance abuse and behavioral disorder counselors', '2002': 'Educational, guidance, and career counselors and advisors', '2003': 'Marriage and family therapists', '2004': 'Mental health counselors', '2005': 'Rehabilitation counselors', '2006': 'Counselors, all other', '2011': 'Child, family, and school social workers', '2012': 'Healthcare social workers', '2013': 'Mental health and substance abuse social workers', '2014': 'Social workers, all other', '2015': 'Probation officers and correctional treatment specialists', '2016': 'Social and human service assistants', '2025': 'Other community and social service specialists', '2040': 'Clergy', '2050': 'Directors, religious activities and education', '2060': 'Religious workers, all other', '2100': 'Lawyers, and judges, magistrates, and other judicial workers', '2105': 'Judicial law clerks', '2145': 'Paralegals and legal assistants', '2170': 'Title examiners, abstractors, and searchers', '2180': 'Legal support workers, all other', '2205': 'Postsecondary teachers', '2300': 'Preschool and kindergarten teachers', '2310': 'Elementary and middle school teachers', '2320': 'Secondary school teachers', '2330': 'Special education teachers', '2350': 'Tutors', '2360': 'Other teachers and instructors', '2400': 'Archivists, curators, and museum technicians', '2435': 'Librarians and media collections specialists', '2440': 'Library technicians', '2545': 'Teaching assistants', '2555': 'Other educational instruction and library workers', '2600': 'Artists and related workers', '2631': 'Commercial and industrial designers', '2632': 'Fashion designers', '2633': 'Floral designers', '2634': 'Graphic designers', '2635': 'Interior designers', '2636': 'Merchandise displayers and window trimmers', '2640': 'Other designers', '2700': 'Actors', '2710': 'Producers and directors', '2721': 'Athletes and sports competitors', '2722': 'Coaches and scouts', '2723': 'Umpires, referees, and other sports officials', '2740': 'Dancers and choreographers', '2751': 'Music directors and composers', '2752': 'Musicians and singers', '2755': 'Disc jockeys, except radio', '2770': 'Entertainers and performers, sports and related workers, all other', '2805': 'Broadcast announcers and radio disc jockeys', '2810': 'News analysts, reporters, and journalists', '2825': 'Public relations specialists', '2830': 'Editors', '2840': 'Technical writers', '2850': 'Writers and authors', '2861': 'Interpreters and translators', '2862': 'Court reporters and simultaneous captioners', '2865': 'Media and communication workers, all other', '2905': 'Other media and communication equipment workers', '2910': 'Photographers', '2920': 'Television, video, and film camera operators and editors', '3000': 'Chiropractors', '3010': 'Dentists', '3030': 'Dietitians and nutritionists', '3040': 'Optometrists', '3050': 'Pharmacists', '3090': 'Physicians', '3100': 'Surgeons', '3110': 'Physician assistants', '3120': 'Podiatrists', '3140': 'Audiologists', '3150': 'Occupational therapists', '3160': 'Physical therapists', '3200': 'Radiation therapists', '3210': 'Recreational therapists', '3220': 'Respiratory therapists', '3230': 'Speech-language pathologists', '3245': 'Other therapists', '3250': 'Veterinarians', '3255': 'Registered nurses', '3256': 'Nurse anesthetists', '3258': 'Nurse practitioners, and nurse midwives', '3261': 'Acupuncturists', '3270': 'Healthcare diagnosing or treating practitioners, all other', '3300': 'Clinical laboratory technologists and technicians', '3310': 'Dental hygienists', '3321': 'Cardiovascular technologists and technicians', '3322': 'Diagnostic medical sonographers', '3323': 'Radiologic technologists and technicians', '3324': 'Magnetic resonance imaging technologists', '3330': 'Nuclear medicine technologists and medical dosimetrists', '3401': 'Emergency medical technicians', '3402': 'Paramedics', '3421': 'Pharmacy technicians', '3422': 'Psychiatric technicians', '3423': 'Surgical technologists', '3424': 'Veterinary technologists and technicians', '3430': 'Dietetic technicians and ophthalmic medical technicians', '3500': 'Licensed practical and licensed vocational nurses', '3515': 'Medical records specialists', '3520': 'Opticians, dispensing', '3545': 'Miscellaneous health technologists and technicians', '3550': 'Other healthcare practitioners and technical occupations', '3601': 'Home health aides', '3602': 'Personal care aides', '3603': 'Nursing assistants', '3605': 'Orderlies and psychiatric aides', '3610': 'Occupational therapy assistants and aides', '3620': 'Physical therapist assistants and aides', '3630': 'Massage therapists', '3640': 'Dental assistants', '3645': 'Medical assistants', '3646': 'Medical transcriptionists', '3647': 'Pharmacy aides', '3648': 'Veterinary assistants and laboratory animal caretakers', '3649': 'Phlebotomists', '3655': 'Other healthcare support workers', '3700': 'First-line supervisors of correctional officers', '3710': 'First-line supervisors of police and detectives', '3720': 'First-line supervisors of firefighting and prevention workers', '3725': 'Miscellaneous first-line supervisors, protective service workers', '3740': 'Firefighters', '3750': 'Fire inspectors', '3801': 'Bailiffs', '3802': 'Correctional officers and jailers', '3820': 'Detectives and criminal investigators', '3840': 'Fish and game wardens and parking enforcement officers', '3870': 'Police officers', '3900': 'Animal control workers', '3910': 'Private detectives and investigators', '3930': 'Security guards and gambling surveillance officers', '3930': 'Security guards and gaming surveillance officers', '3940': 'Crossing guards and flaggers', '3945': 'Transportation security screeners', '3946': 'School bus monitors', '3960': 'Other protective service workers', '4000': 'Chefs and head cooks', '4010': 'First-line supervisors of food preparation and serving workers', '4020': 'Cooks', '4030': 'Food preparation workers', '4040': 'Bartenders', '4055': 'Fast food and counter workers', '4110': 'Waiters and waitresses', '4120': 'Food servers, nonrestaurant', '4130': 'Dining room and cafeteria attendants and bartender helpers', '4140': 'Dishwashers', '4150': 'Hosts and hostesses, restaurant, lounge, and coffee shop', '4160': 'Food preparation and serving related workers, all other', '4200': 'First-line supervisors of housekeeping and janitorial workers', '4210': 'First-line supervisors of landscaping, lawn service, and groundskeeping workers', '4220': 'Janitors and building cleaners', '4230': 'Maids and housekeeping cleaners', '4240': 'Pest control workers', '4251': 'Landscaping and groundskeeping workers', '4252': 'Tree trimmers and pruners', '4255': 'Other grounds maintenance workers', '4330': 'Supervisors of personal care and service workers', '4340': 'Animal trainers', '4350': 'Animal caretakers', '4400': 'Gambling services workers', '4420': 'Ushers, lobby attendants, and ticket takers', '4435': 'Other entertainment attendants and related workers', '4461': 'Embalmers, crematory operators, and funeral attendants', '4461': 'Embalmers, crematory operators and funeral attendants', '4465': 'Morticians, undertakers, and funeral arrangers', '4500': 'Barbers', '4510': 'Hairdressers, hairstylists, and cosmetologists', '4521': 'Manicurists and pedicurists', '4522': 'Skincare specialists', '4525': 'Other personal appearance workers', '4530': 'Baggage porters, bellhops, and concierges', '4540': 'Tour and travel guides', '4600': 'Childcare workers', '4621': 'Exercise trainers and group fitness instructors', '4622': 'Recreation workers', '4640': 'Residential advisors', '4655': 'Personal care and service workers, all other', '4700': 'First-line supervisors of retail sales workers', '4710': 'First-line supervisors of non-retail sales workers', '4720': 'Cashiers', '4740': 'Counter and rental clerks', '4750': 'Parts salespersons', '4760': 'Retail salespersons', '4800': 'Advertising sales agents', '4810': 'Insurance sales agents', '4820': 'Securities, commodities, and financial services sales agents', '4830': 'Travel agents', '4840': 'Sales representatives of services, except advertising, insurance, financial services, and travel', '4850': 'Sales representatives, wholesale and manufacturing', '4900': 'Models, demonstrators, and product promoters', '4920': 'Real estate brokers and sales agents', '4930': 'Sales engineers', '4940': 'Telemarketers', '4950': 'Door-to-door sales workers, news and street vendors, and related workers', '4965': 'Sales and related workers, all other', '5000': 'First-line supervisors of office and administrative support workers', '5010': 'Switchboard operators, including answering service', '5020': 'Telephone operators', '5040': 'Communications equipment operators, all other', '5100': 'Bill and account collectors', '5110': 'Billing and posting clerks', '5120': 'Bookkeeping, accounting, and auditing clerks', '5140': 'Payroll and timekeeping clerks', '5150': 'Procurement clerks', '5160': 'Tellers', '5165': 'Other financial clerks', '5220': 'Court, municipal, and license clerks', '5230': 'Credit authorizers, checkers, and clerks', '5240': 'Customer service representatives', '5250': 'Eligibility interviewers, government programs', '5260': 'File clerks', '5300': 'Hotel, motel, and resort desk clerks', '5310': 'Interviewers, except eligibility and loan', '5320': 'Library assistants, clerical', '5330': 'Loan interviewers and clerks', '5340': 'New accounts clerks', '5350': 'Correspondence clerks and order clerks', '5360': 'Human resources assistants, except payroll and timekeeping', '5400': 'Receptionists and information clerks', '5410': 'Reservation and transportation ticket agents and travel clerks', '5420': 'Other information and records clerks', '5500': 'Cargo and freight agents', '5510': 'Couriers and messengers', '5521': 'Public safety telecommunicators', '5522': 'Dispatchers, except police, fire, and ambulance', '5530': 'Meter readers, utilities', '5540': 'Postal service clerks', '5550': 'Postal service mail carriers', '5560': 'Postal service mail sorters, processors, and processing machine operators', '5600': 'Production, planning, and expediting clerks', '5610': 'Shipping, receiving, and inventory clerks', '5630': 'Weighers, measurers, checkers, and samplers, recordkeeping', '5710': 'Executive secretaries and executive administrative assistants', '5720': 'Legal secretaries and administrative assistants', '5730': 'Medical secretaries and administrative assistants', '5740': 'Secretaries and administrative assistants, except legal, medical, and executive', '5810': 'Data entry keyers', '5820': 'Word processors and typists', '5840': 'Insurance claims and policy processing clerks', '5850': 'Mail clerks and mail machine operators, except postal service', '5860': 'Office clerks, general', '5900': 'Office machine operators, except computer', '5910': 'Proofreaders and copy markers', '5920': 'Statistical assistants', '5940': 'Other office and administrative support workers', '6005': 'First-line supervisors of farming, fishing, and forestry workers', '6010': 'Agricultural inspectors', '6040': 'Graders and sorters, agricultural products', '6050': 'Other agricultural workers', '6115': 'Fishing and hunting workers', '6120': 'Forest and conservation workers', '6130': 'Logging workers', '6200': 'First-line supervisors of construction trades and extraction workers', '6210': 'Boilermakers', '6220': 'Brickmasons, blockmasons, stonemasons, and reinforcing iron and rebar workers', '6230': 'Carpenters', '6240': 'Carpet, floor, and tile installers and finishers', '6250': 'Cement masons, concrete finishers, and terrazzo workers', '6260': 'Construction laborers', '6305': 'Construction equipment operators', '6330': 'Drywall installers, ceiling tile installers, and tapers', '6355': 'Electricians', '6360': 'Glaziers', '6400': 'Insulation workers', '6410': 'Painters and paperhangers', '6441': 'Pipelayers', '6442': 'Plumbers, pipefitters, and steamfitters', '6460': 'Plasterers and stucco masons', '6515': 'Roofers', '6520': 'Sheet metal workers', '6530': 'Structural iron and steel workers', '6540': 'Solar photovoltaic installers', '6600': 'Helpers, construction trades', '6660': 'Construction and building inspectors', '6700': 'Elevator and escalator installers and repairers', '6700': 'Elevator installers and repairers', '6710': 'Fence erectors', '6720': 'Hazardous materials removal workers', '6730': 'Highway maintenance workers', '6740': 'Rail-track laying and maintenance equipment operators', '6765': 'Other construction and related workers', '6800': 'Derrick, rotary drill, and service unit operators, and roustabouts, oil and gas', '6800': 'Derrick, rotary drill, and service unit operators, and roustabouts, oil, gas, and mining', '6825': 'Surface mining machine operators and earth drillers', '6835': 'Explosives workers, ordnance handling experts, and blasters', '6850': 'Underground mining machine operators', '6950': 'Other extraction workers', '7000': 'First-line supervisors of mechanics, installers, and repairers', '7010': 'Computer, automated teller, and office machine repairers', '7020': 'Radio and telecommunications equipment installers and repairers', '7030': 'Avionics technicians', '7040': 'Electric motor, power tool, and related repairers', '7100': 'Other electrical and electronic equipment mechanics, installers, and repairers', '7120': 'Audiovisual equipment installers and repairers', '7120': 'Electronic home entertainment equipment installers and repairers', '7130': 'Security and fire alarm systems installers', '7140': 'Aircraft mechanics and service technicians', '7150': 'Automotive body and related repairers', '7160': 'Automotive glass installers and repairers', '7200': 'Automotive service technicians and mechanics', '7210': 'Bus and truck mechanics and diesel engine specialists', '7220': 'Heavy vehicle and mobile equipment service technicians and mechanics', '7240': 'Small engine mechanics', '7260': 'Miscellaneous vehicle and mobile equipment mechanics, installers, and repairers', '7300': 'Control and valve installers and repairers', '7315': 'Heating, air conditioning, and refrigeration mechanics and installers', '7320': 'Home appliance repairers', '7330': 'Industrial and refractory machinery mechanics', '7340': 'Maintenance and repair workers, general', '7350': 'Maintenance workers, machinery', '7360': 'Millwrights', '7410': 'Electrical power-line installers and repairers', '7420': 'Telecommunications line installers and repairers', '7430': 'Precision instrument and equipment repairers', '7510': 'Coin, vending, and amusement machine servicers and repairers', '7540': 'Locksmiths and safe repairers', '7560': 'Riggers', '7610': 'Helpers--installation, maintenance, and repair workers', '7640': 'Other installation, maintenance, and repair workers', '7700': 'First-line supervisors of production and operating workers', '7720': 'Electrical, electronics, and electromechanical assemblers', '7730': 'Engine and other machine assemblers', '7740': 'Structural metal fabricators and fitters', '7750': 'Other assemblers and fabricators', '7800': 'Bakers', '7810': 'Butchers and other meat, poultry, and fish processing workers', '7830': 'Food and tobacco roasting, baking, and drying machine operators and tenders', '7840': 'Food batchmakers', '7850': 'Food cooking machine operators and tenders', '7855': 'Food processing workers, all other', '7905': 'Computer numerically controlled tool operators and programmers', '7925': 'Forming machine setters, operators, and tenders, metal and plastic', '7950': 'Cutting, punching, and press machine setters, operators, and tenders, metal and plastic', '8000': 'Grinding, lapping, polishing, and buffing machine tool setters, operators, and tenders, metal and plastic', '8025': 'Other machine tool setters, operators, and tenders, metal and plastic', '8030': 'Machinists', '8040': 'Metal furnace operators, tenders, pourers, and casters', '8100': 'Model makers, patternmakers, and molding machine setters, metal and plastic', '8130': 'Tool and die makers', '8140': 'Welding, soldering, and brazing workers', '8225': 'Other metal workers and plastic workers', '8250': 'Prepress technicians and workers', '8255': 'Printing press operators', '8256': 'Print binding and finishing workers', '8300': 'Laundry and dry-cleaning workers', '8310': 'Pressers, textile, garment, and related materials', '8320': 'Sewing machine operators', '8335': 'Shoe and leather workers', '8350': 'Tailors, dressmakers, and sewers', '8365': 'Textile machine setters, operators, and tenders', '8450': 'Upholsterers', '8465': 'Other textile, apparel, and furnishings workers', '8500': 'Cabinetmakers and bench carpenters', '8510': 'Furniture finishers', '8530': 'Sawing machine setters, operators, and tenders, wood', '8540': 'Woodworking machine setters, operators, and tenders, except sawing', '8555': 'Other woodworkers', '8600': 'Power plant operators, distributors, and dispatchers', '8610': 'Stationary engineers and boiler operators', '8620': 'Water and wastewater treatment plant and system operators', '8630': 'Miscellaneous plant and system operators', '8640': 'Chemical processing machine setters, operators, and tenders', '8650': 'Crushing, grinding, polishing, mixing, and blending workers', '8710': 'Cutting workers', '8720': 'Extruding, forming, pressing, and compacting machine setters, operators, and tenders', '8730': 'Furnace, kiln, oven, drier, and kettle operators and tenders', '8740': 'Inspectors, testers, sorters, samplers, and weighers', '8750': 'Jewelers and precious stone and metal workers', '8760': 'Dental and ophthalmic laboratory technicians and medical appliance technicians', '8800': 'Packaging and filling machine operators and tenders', '8810': 'Painting workers', '8830': 'Photographic process workers and processing machine operators', '8850': 'Adhesive bonding machine operators and tenders', '8910': 'Etchers and engravers', '8920': 'Molders, shapers, and casters, except metal and plastic', '8930': 'Paper goods machine setters, operators, and tenders', '8940': 'Tire builders', '8950': 'Helpers--production workers', '8990': 'Miscellaneous production workers, including equipment operators and tenders', '9005': 'Supervisors of transportation and material moving workers', '9030': 'Aircraft pilots and flight engineers', '9040': 'Air traffic controllers and airfield operations specialists', '9050': 'Flight attendants', '9110': 'Ambulance drivers and attendants, except emergency medical technicians', '9121': 'Bus drivers, school', '9122': 'Bus drivers, transit and intercity', '9130': 'Driver/sales workers and truck drivers', '9141': 'Shuttle drivers and chauffeurs', '9142': 'Taxi drivers', '9150': 'Motor vehicle operators, all other', '9210': 'Locomotive engineers and operators', '9240': 'Railroad conductors and yardmasters', '9265': 'Other rail transportation workers', '9300': 'Sailors and marine oilers, and ship engineers', '9310': 'Ship and boat captains and operators', '9350': 'Parking attendants', '9365': 'Transportation service attendants', '9410': 'Transportation inspectors', '9415': 'Passenger attendants', '9430': 'Other transportation workers', '9510': 'Crane and tower operators', '9570': 'Conveyor, dredge, and hoist and winch operators', '9600': 'Industrial truck and tractor operators', '9610': 'Cleaners of vehicles and equipment', '9620': 'Laborers and freight, stock, and material movers, hand', '9630': 'Machine feeders and offbearers', '9640': 'Packers and packagers, hand', '9645': 'Stockers and order fillers', '9650': 'Pumping station operators', '9720': 'Refuse and recyclable material collectors', '9760': 'Other material moving workers', '9840': 'Military Specific Occupations'
}
# Mapping occupation codes to values
columns_to_map = ["Occupation Code 1", "Occupation Code 2", "Occupation Code 3", "Occupation Code 4", "Occupation Code 5", "Occupation Code 6"]
for col in columns_to_map:
    full_df[col] = full_df[col].map(occupation_code_to_name)